.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: var(--app-font-family);

    app-navbar {
        flex-shrink: 0;
        border-bottom: 1px solid var(--gray-color);
    }

    h4 {
        padding-inline: 1rem;
        margin: 1rem 0;
        color: var(--dark-gray-color);
        font-weight: 400;
    }

    kendo-spreadsheet {
        flex: 1;
        border: 1px solid var(--gray-color);
        border-radius: var(--btn-border-radius);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
}